<div layout="row">
    <fs-stat class="md-padding" fs-value="500" fs-label="Students"></fs-stat>

    <fs-stat class="md-padding" fs-value="200" fs-label="Schools" fs-sublabel="$40,000 Total Revenue" fs-icon="person"></fs-stat>

    <fs-stat class="md-padding" fs-value="100" fs-label="Students" fs-icon="account_balance"></fs-stat>

    <fs-stat class="md-padding" fs-value="5000" fs-label="Students">
        <fs-stat-action fs-label="View Students" fs-href="/students"></fs-stat-action>
        <fs-stat-action fs-label="Submit" fs-click="submit"></fs-stat-action>
    <fs-stat/>
</div>
<div layout="row">
    <fs-stat class="md-padding" fs-value="3" fs-label="Pending Activations" fs-icon="power_settings_new"></fs-stat>

    <fs-stat class="md-padding" fs-value="34" fs-label="Overdue Payments" fs-icon="attach_money"></fs-stat>
</div>
